<!DOCTYPE html>
<html lang="en">
<head>
    
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <link rel="stylesheet" href="/css/index.css">
  <script src="/js/index.js"></script>
  <title>Chatroom</title>
</head>
<body>
    <!-- Navbar-->
    <nav>
        <div class="nav-wrapper" style="background-color:#10ac98">
          
          <a href="#" class="brand-logo left" style="text-decoration: none">Chatroom</a>
          <ul id="nav-mobile" class="right">
            <li><a href="" style="text-decoration: none;">Log out</a></li>
          </ul>
        </div>
      </nav>
    <!--Navbar end-->

    <!--Chatbox-->
    <div>
    <div class="container lighter">
        <img src="/images/profile0.jpg" alt="Avatar">
        <p class="profile-name">Arghadip</p>
        <p>Hello. How are you today?Hello. How are you today?Hello. How are you today?Hello. How are you today?Hello. How are you today?</p>
        <span class="time-right">11:00</span>
      </div>
      
      <div class="container darker">
        <img src="/images/profile0.jpg" alt="Avatar" class="right">
        <p class="profile-name">Arghadip</p>
        <p>Hey! I'm fine. Thanks for asking!</p>
        <span class="time-left">11:01</span>
      </div>
      </div>
      <!--Chatbox end-->

      <!--Typing box-->
      
      <div class="chat">
          <!-- <div class="chat-message clearfix"-->
        
              <form method="POST">
                  <!-- <input type="submit"value="Find" style="float: right" > -->
                  <button class="btn btn-default" type="submit" style="float: right;height: 50px;width:50px;border-radius: 50%;"><i class="material-icons right">send</i></button>
                  <div style="overflow: hidden; padding-right: .5em;">
                     <input type="text" id="message" style="width: 97%;padding-left: 20px;background-color: white;border-radius:10px" placeholder="Type your message..."/>
                  </div>​
              </form>
      </div>
      
      <!--Typing box end-->
    
</body>
</html>