body{
    background-image:url(/images/background.png);
    
    font-family: Georgia, 'Times New Roman', Times, serif
}

/* Chat containers */
.lighter{
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 10px;
    max-width: 700px;
    padding: 10px;
    margin: 10px 7px 7px 1px;
    float: left;
  }
  .darker {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 10px;
    max-width: 700px;
    padding: 10px;
    float: right;
  }
  
  /* Clear floats */
  .container::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Style images */
  .container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  /* Style the right image */
  .container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
  }
  
  /* Style time text */
  .time-right {
    float: right;
    color: #aaa;
  }
  
  /* Style time text */
  .time-left {
    float: left;
    color: #999;
  }
  .profile-name{
      font-weight: bold;
      color: grey
  }
  